@each $font-face in 'SLNTHLN'{
    @font-face{
        font-family: $font-face;
        font-style: normal;
        font-weight: normal;
        src:url('../fonts/#{$font-face}.eot');
        src:url('../fonts/#{$font-face}.otf'),url('../fonts/#{$font-face}.ttf');

    }
}



@mixin efectoEncabezado($grados, $color : "red"){
        content:"";
        position: absolute;
        z-index: -1;  
        top: 0;  
        height: 100%;
        width: 50%;
        background: unquote($color);
        -webkit-transform:skew(0deg, unquote($grados+'deg'));  
        -moz-transform:skew(0deg, unquote($grados+'deg'));
        -ms-transform:skew(0deg, unquote($grados+'deg'));
        transform:skew(0deg, unquote($grados+'deg'));
}


html,body{
    height: 100%;
    margin: 0;
    padding: 0;
    max-width: 100%;
}


.fullScreen{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

}


header{
    position: fixed;
    width: 100%;
    text-align: center;
    top: -9.5em;
    transition: all 0.4s;

    &:hover{

        top: -6em;
    }


    &:before{
        @include efectoEncabezado(5,#000);
        left: 0;  

    }
    &:after{
        @include efectoEncabezado(-5, #000);
        right: 0.5px;

    }
    nav ul{

        margin: 0;
        color: gray;
        font-family:'SLNTHLN';

        font-size: 1.5em;
        font-weight: normal;
        margin-bottom: 1em;
        li {
            a {
                color: gray;
                text-decoration: none;
            }

            &:hover a{
                           
                text-decoration: none;
                color:white;

            }

            display: inline-block;
            padding: 0 10px;
        }
    }
    #logo{

        background-color: rgb(2,0,3);
        position: relative;
        width: 15%;
        text-align: center;
        min-width: 100px;
        max-width:100%;
        left: 43%;
        height: 100px;
        top: 140px;
        z-index: 5;
        border-radius: 5em 0;
        img{


            margin-top: -20px;
            width: 150px;
        }
    }

}

.slider_container{
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: -2;
    background-color: rgb(2,0,3);
    .slideContainer{
        white-space: nowrap;
        height: 100%;
        .slide{
            display: inline-block;
            background-color: red;
            margin-right: -4.5px; 
            vertical-align: top;
            background-size: 100%;
            background-position: bottom;
        }
    }

}